+template("history_tmpl")
    .panel.panel-default.history-menu
        .panel-body
            h4.list-group-item-heading ${Message}
            p.list-group-item-text
                small
                    |${User} commited
                    abbr(title="${DateTimeString}") ${DateTime}

            h4.list-group-item-heading(style="margin-top:10px")
                big
                    a#prev-revision(href='#')
                        span.glyphicon.glyphicon-circle-arrow-left
                    a#next-revision(href='#')
                        span.glyphicon.glyphicon-circle-arrow-right
#history(style="position: absolute; top: 60px; left: 10px; width: 250px;")
