include mixin
doctype html
html
  head
    meta(charset="UTF-8")
    // for mobile browser
    meta(name='viewport', content='initial-scale=1.0,width=device-width,user-scalable=no')
    title AssureNote
    +css('/lib/bootstrap/css/bootstrap.min.css')
    +css('/lib/bootstrap-switch/bootstrap-switch.css')
    +css('/lib//animate-custom.css')
    +css('/lib/codemirror/codemirror.css')
    +css('/css/dcase-node.css')
    +css('/css/sidemenu.css')
    +css('/css/historymenu.css')
    +css('/css/index.css')
    +css('/css/topmenu.css')
    +css('/css/codehighlight.css')
  body(style='overflow: hidden; margin: 0px;')
    #assure-note(style='width: 100%; height: 100%;')
      input#file-open-dialog(type='file', accept='.wgsn,.dcase_model', style='display:none;')
      #auto-expand-area
      svg#svglayer-box(xmlns='http://www.w3.org/2000/svg', version='1.1', style='top: 0px; left: 0px; width: 100%; height: 100%;')
        g#svg-layer(transform='translate(0,0)')
      #eventmap-layer(style='top: 0px; left: 0px; width: 100%; height: 100%;position: absolute;', touch-action='none')
      #content-layer(style='top: 0px; left: 0px; width: 0px; height: 0px; position: absolute;')
      #control-layer(style='top: 0px; left: 0px; width: 0px; height: 0px; position: absolute;')
      #fixed-control-layer(style='top: 0px; left: 0px; width: 100%; height: 0px; position: absolute;')
        include topmenu
        input#command-line.form-control(type='text', style='width:100%; bottom:0px; left:0px; position:fixed; display: none; font-size:large')
      #plugin-layer(style='width: 0px; height: 0px; position: absolute;')
        #editor-wrapper(style='border: 1px solid black')
          textarea#editor(placeholder='Type something...', style='display: none;')
        #singlenode-editor-wrapper(style='border: 1px solid black')
          textarea#singlenode-editor(placeholder='Type something...', style='display: none;')
        // Help Modal
        #help-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='help-modal-label', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#help-modal-label.modal-title Help&colon; Command list
              .modal-body
                ul
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        // Help Modal
        #about-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='about-modal-label', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#about-modal-label.modal-title About
              .modal-body(style='text-align: center;')
                img(src='#{basepath}/images/logo.png', alt='AssureNote', style='width: 60%')
                p Version 0.1.0
                p Copyright (c) 2014, AssureNote project authors. All rights reserved.
                p Credit
                  ul.list-inline
                    li Atsushi Uchida
                    li Kimio Kuramitsu
                    li Shunsuke Shida
                    li Yuki Okamoto
                    li Tetsuro Matsumura
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
    svg(width='0', height='0')
      defs
        marker#Triangle-black(viewbox='0 0 10 10', refx='10', refy='5', markerunits='strokeWidth', markerwidth='15', markerheight='9', orient='auto')
          path(d='M 0 0 L 10 5 L 0 10 z', fill='gray', stroke='gray')
        marker#Triangle-white(viewbox='0 0 10 10', refx='10', refy='5', markerunits='strokeWidth', markerwidth='15', markerheight='9', orient='auto')
          path(d='M 0 0 L 10 5 L 0 10 z', fill='white', stroke='gray')
        polygon#undevelopd-master.assurenote-default(fill='none', stroke='#333', stroke-width='1.5', points='0 -20 -20 0 0 20 20 0')
        rect#goal-master.assurenote-default(width='1', height='1')
        polygon#strategy-master.assurenote-default(points='0.08,0 1,0 0.92,1 0,1')
        ellipse#evidence-master.assurenote-default(cx='1', cy='1', rx='0.5', ry='0.5')
    +js('/lib/jquery.min.js')
    +js('/lib/jquery.tmpl.min.js')
    +js('/lib/jquery.jqdock.min.js')
    +js('/lib/jquery.cookie.js')
    +js('/lib/jquery.mousewheel.js')
    +js('/lib/pointerevents.min.js')
    +js('/lib/codemirror/codemirror.js')
    +js('/lib/codemirror/highlight/wgsn.js')
    +js('/lib/FileSaver.js')
    +js('/lib/notify.min.js')
    +js('/lib/bootstrap/js/bootstrap.min.js')
    +js('/lib/bootstrap-switch/bootstrap-switch.js')
    +js('/lib/socket.io.js')
    +js('/src/AssureNoteUtils.js')
    +js('/src/AssureNoteParser.js')
    +js('/src/DCaseModelXMLParser.js')
    +js('/src/CommandLine.js')
    +js('/src/Command.js')
    +js('/src/TopMenu.js')
    +js('/src/GSNShape.js')
    +js('/src/NodeView.js')
    +js('/src/Panel.js')
    +js('/src/LayoutEngine.js')
    +js('/src/AssureNote.js')
    +js('/src/Viewport.js')
    +js('/src/Plugin.js')
    +js('/src/ModeManager.js')
    +js('/src/NodeMenu.js')
    +js('/src/SearchNode.js')
    +js('/src/Socket.js')
    +js('/src/Editor.js')
    +js('/src/RecApi.js')
    +js('/src/Tooltip.js')
    +js('/plugin/SingleNodeEditor/SingleNodeEditor.js')
    +js('/plugin/FullScreenEditor/FullScreenEditor.js')
    +js('/plugin/FoldingViewSwitch/FoldingViewSwitch.js')
    +js('/plugin/MessageChat/MessageChat.js')
    +js('/plugin/AddNode/AddNode.js')
    +js('/plugin/RemoveNode/RemoveNode.js')
    +js('/plugin/ToDo/ToDo.js')
    +js('/plugin/LastModified/LastModified.js')
    +js('/plugin/MonitorNode/MonitorNode.js')
    +js('/plugin/VariableInterpolation/VariableInterpolation.js')
    +js('/javascripts/config.js')
    script#default-case-ja(type='text/wgsn')
      | * G &2422f9c3
      | ゴール: ある性質が成り立つという主張
      | * C &45255f17
      | 前提: 主張が成り立つ状況
      | * S &137c4f60
      | 戦略: 主張を分解する指標
      | ** G &35938c38
      | サブゴール: 分解された主張
      | ** E &654abc0c
      | 証拠: サブゴールの成立を支持する事実
      | ** C &6072c487
      | 反証: 証拠に対する反例
      | ** G &152377e9
      | 未達成なサブゴール
    script#default-case-en(type='text/wgsn')
      | * G &2422f9c3
      | Goal: A claim that a system certainly has some desirable properties.
      | * C &45255f17
      | Context: A contextual artefact.
      | * S &137c4f60
      | Strategy: A reason for claim decomposition.
      | ** G &35938c38
      | SubGoal
      | ** E &654abc0c
      | Evidence:  A piece of materials to support that the linked claim.
      | ** C &6072c487
      | Rebuttal
      | ** G &152377e9
      | Undeveloped
    +js('/index.js')
    if Analytics_UA != null && Analytics_UA != ''
      include analytics 
