.navbar.navbar-default.nonclickable
  .navbar-collapse(style='padding-left: 0px;')
    a.navbar-brand(href='#', style='padding: 0px')
      img#logo(src='#{basepath}/images/logo.png', alt='AssureNote')
    #top-menu
    .edit-mode.clickable.navbar-left
    //p.navbar-text#filename-view(style="margin-left: 10px;")
    include user_info
