.navbar.navbar-default.logo-offset.nonclickable
  .navbar-collapse
    a.logo-fixed(href='#')
      img#logo(src='#{basepath}/images/logo.png', alt='AssureNote')
    #top-menu
    .edit-mode.clickable.navbar-left
    //p.navbar-text#filename-view(style="margin-left: 10px;")
    if !isLocal
      include user_info
