#user-info
  .glyphicon.glyphicon-user
  span.user-name &nbsp; #{UserName} 
  if !isLocal
    if(UserName != "Guest")
      a.btn.clickable(href='#{basepath}/logout')
        button.btn.btn-default.btn-large
          span.glyphicon.glyphicon-log-out
          | &nbsp; Logout
    else
      a.btn.clickable(href='#{basepath}/auth/github')
        button.btn.btn-default.btn-large
          span.glyphicon.glyphicon-log-out
          | &nbsp; Login
  else
    a.btn.clickable.change-user
      button.btn.btn-default.btn-large
        span.glyphicon.glyphicon-pencil
        | &nbsp; Change User
