mixin js(path)
    script(type='text/javascript', src='../'+path)
mixin spec(path)
    script(type='text/javascript', src='./'+path)
mixin css(path)
    link(rel='stylesheet', href='./'+path)

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Jasmine Spec Runner v2&period;0&period;0
    //Jasmine lib
    link(rel='shortcut icon', type='image/png', href='lib/jasmine-2.0.0/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='lib/jasmine-2.0.0/jasmine.css')
    script(type='text/javascript', src='lib/jasmine-2.0.0/jasmine.js')
    script(type='text/javascript', src='lib/jasmine-2.0.0/jasmine-html.js')
    script(type='text/javascript', src='lib/jasmine-2.0.0/boot.js')

    // include source files here...
    +js('/lib/jquery.min.js')
    +js('/lib/jquery.tmpl.min.js')
    +js('/lib/jquery.jqdock.min.js')
    +js('/lib/jquery.cookie.js')
    +js('/lib/jquery.mousewheel.js')
    +js('/lib/pointerevents.min.js')
    +js('/lib/codemirror/codemirror.js')
    +js('/lib/codemirror/highlight/wgsn.js')
    +js('/lib/FileSaver.js')
    +js('/lib/notify.min.js')
    +js('/lib/bootstrap/js/bootstrap.min.js')
    +js('/lib/bootstrap-switch/bootstrap-switch.js')
    +js('/lib/socket.io.js')
    +js('/src/AssureNoteUtils.js')
    +js('/src/AssureNoteParser.js')
    +js('/src/DCaseModelXMLParser.js')
    +js('/src/XMIParser.js')
    +js('/src/Panel.js')
    +js('/src/CommandLine.js')
    +js('/src/Command.js')
    +js('/src/TopMenu.js')
    +js('/src/GSNShape.js')
    +js('/src/NodeView.js')
    +js('/src/LayoutEngine.js')
    +js('/src/AssureNote.js')
    +js('/src/Viewport.js')
    +js('/src/Plugin.js')
    +js('/src/ModeManager.js')
    +js('/src/NodeMenu.js')
    +js('/src/SearchNode.js')
    +js('/src/Socket.js')
    +js('/src/Editor.js')
    +js('/src/RecApi.js')
    +js('/src/Tooltip.js')
    +js('/plugin/SingleNodeEditor/SingleNodeEditor.js')
    +js('/plugin/FullScreenEditor/FullScreenEditor.js')
    +js('/plugin/FoldingViewSwitch/FoldingViewSwitch.js')
    +js('/plugin/MessageChat/MessageChat.js')
    +js('/plugin/AddNode/AddNode.js')
    +js('/plugin/RemoveNode/RemoveNode.js')
    +js('/plugin/ToDo/ToDo.js')
    +js('/plugin/LastModified/LastModified.js')
    +js('/plugin/MonitorNode/MonitorNode.js')
    +js('/plugin/VariableInterpolation/VariableInterpolation.js')
    +js('/javascripts/config.js')

    // include spec files here...
    +spec('/MainSpec.js')
  body
