body {
	min-height: 480px;
	margin: 0px;
	line-height: 20px;
}

.hover li {
	background-color: #eee;
}

#logo {
	width: 194px;
	height: 64px;
	position: fixed;
	left: 8px;
	top: 5px;
}

#viewer {
	left: 0px;
	top : 0px;
	width : 100%;
	min-height: 100%;
	bottom: 0px;
	-webkit-transition: all 0.5s ease-in-out;
}

#dcase-manager {
	margin-top: 60px;
}

#dcase-tags li.line {
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #eee;
}

#alltags {
	color: #000;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}


.node {
	position: absolute;
	box-sizing: content-box;

}

.node-goal {
	padding: 5px 10px;
	width : 230px;
}

.node-context {
	padding: 10px 10px;
	width : 230px;
}

.node-strategy {
	padding: 5px 20px;
	width : 210px;
}

.node-evidence {
	padding: 20px 20px;
	width : 210px;
}

.assurenote-default {
	fill: #ffffff;
	filli: #b4d8df;
	stroke: black;
	stroke-width: 2;
}

.assurenote-default-highlight {
	fill: #b4d8df;
	stroke: orange;
}

.assurenote-todo {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-dasharray: 5, 5;
}

.assurenote-todo-highlight {
	fill: #FFFFFF;
	stroke: orange
}

.assurenote-search{
	fill: #fae9b1;
	stroke: none;
}

.assurenote-search-highlight{
	fill: #fae9b1;
	stroke: orange;
}

.assurenote-danger {
	fill: #FFAA7D;
	stroke: none;
}

.assurenote-danger-highlight {
	fill: #FFAA7D;
	stroke: orange;
}
