body {
	min-height: 100%;
	margin: 0px;
	line-height: 20px;
}

.hover li {
	background-color: #eee;
}

#logo {
	width: 194px;
	height: 64px;
	position: fixed;
	left: -4px;
	top: -3px;
}

.logo-offset {
    left : 180px;
}

#content-layer {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
}

h4 {
	font-weight: bold;
}

.node {
	position: absolute;
	box-sizing: content-box;
    font-family: Arial, Meiryo;
}

.node-variable {
	font-weight: bold;
}

.node-variable-undefined {
	font-weight: bold;
	color: Gray;
}

.node-goal {
	padding: 5px 10px;
	width : 230px;
}

.node-context {
	padding: 10px 10px;
	width : 230px;
}

.node-strategy {
	padding: 5px 20px;
	width : 210px;
}

.node-evidence {
	padding: 30px 30px;
	width : 190px;
}

.node-author {
	font-size: small;
	position: absolute;
	bottom: 0%;
	right: 0%;
	color: Gray;
	margin-right: 5%;
}

.node-author-evidence {
	bottom: 5%;
	right: 25%;
}

.node-author-strategy {
	right: 10%;
}

.assurenote-default {
	fill: rgba(255, 255, 255, 1.0);
	/*filli: #b4d8df;*/
	stroke: black;
	stroke-width: 2;
}

.assurenote-default-highlight {
	/*fill: #b4d8df;*/
	stroke: orange;
}

.assurenote-todo {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-dasharray: 5px, 5px;
}

.assurenote-todo-highlight {
	fill: #FFFFFF;
	stroke: orange
}

.assurenote-search{
	fill: #fae9b1;
	/*stroke: none;*/
}

.assurenote-search-highlight{
	fill: #fae9b1;
	stroke: orange;
}

.assurenote-danger {
	fill: #FFAA7D;
	stroke: none;
}

.assurenote-danger-highlight {
	fill: #FFAA7D;
	stroke: orange;
}

#auto-expand-area {
    border: 2px solid red;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    left: 50%;
    top: 30%;
    position: absolute;
    margin-left: -100px;
    margin-top: -100px;
    display:none;
}

.nonclickable {
	pointer-events: none;
}

.nonclickable .clickable {
	pointer-events: initial;
}
